/*  IMPORT FONTS  ============================================================================= */

@font-face {
    font-family: 'orbitron-light';
    src: url('fonts/orbitron/orbitron-light.eot');
    src: url('fonts/orbitron/orbitron-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/orbitron/orbitron-light.woff') format('woff'),
         url('fonts/orbitron/orbitron-light.ttf') format('truetype'),
         url('fonts/orbitron/orbitron-light.svg#orbitron-light') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* BASIC PAGE SETUP ============================================================================= */

html,
body {
height:100%;
margin:0;
padding:0;
font-family: orbitron-light, monospace; 	
color: grey;
text-transform:lowercase;
background: #f2f2f2;
text-align:center;
line-height:1.2;
}

header {
text-align: left;
margin:5px 0 10px;
}

footer {
position:absolute;
height:1.625em;
width:100%;
bottom:0;
text-align:left;
-webkit-transform:rotateY(180deg);
-moz-transform:rotateY(180deg);
-o-transform:rotateY(180deg);
transform:rotateY(180deg);
}

/*  HEADINGS  ============================================================================= */

h1, h2, h3, h4, h5, h6 {
font-weight : normal;
margin-top: 10px;
}

h1 { 
margin-bottom : 0.2em;
font-size : 5em; /* 96 / 16 */
line-height : 1.4;
}


h2 { 
color : grey;
font-size : 2.2em; /* 40 / 16 */
line-height : 1.1;
}

h3 { 
margin-bottom : 0.3em;
font-size : 1.6em; /* 28 / 16 */
line-height : 1.1; 
}

h4 { 
margin-bottom : 0.5em;
font-size : 1.5em; /* 24 / 16  */
line-height : 1.25; }

h5 { 
margin-bottom : 1.25em;
font-size : 1em; /* 20 / 16 */ }

h6 { 
font-size : 1em; /* 16 / 16  */ }

/*  TYPOGRAPHY  ============================================================================= */

ul { 
margin : 0; 
padding : 0; 
font-size : 1.4em;
line-height : 1.2;
list-style-type: none;
}

li.crumb {
display:inline-block;
font-size: 0.8em;
}

li.title {
color:#1e90ff;
}

/* LINKS =============================================================================  */

a { 
color : grey;
transition: all 0.3s ease;
text-decoration: none;
}

a:visited { 
color : grey; }

a:hover, 
a:active { 
outline : 0;
color : #1e90ff;
}

/* IMAGES ============================================================================= */

img {
border : 0;
max-width: 100%;
height: auto;
}

/*  MAIN LAYOUT	============================================================================= */

.list {
display:inline-block;
vertical-align:top;
width:300px;
margin: 2%;
overflow:hidden;
border-top:1px solid;
}

.tab {
display:inline-block;
vertical-align:top;
margin: 1%;
white-space:pre;
font-family:courier,monospace;
font-size:0.8em;
}

#page {
min-height:100%;
position:relative;
overflow:hidden;
}

#content {
padding-bottom:1.625em;
}

#lyrics,
#info {
white-space:pre-wrap;
}
